body{
    margin:0;
    padding:0;
    background-color: black;
    
}
*{
    box-sizing: border-box;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 8px; 
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1; 
}

body::-webkit-scrollbar-thumb:hover {
    background: #555; 
}